In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("F:/PROJECT_PIPELINE_MLOPS/SMART_CARRER_ADVISOR/data/Carrer.csv")

In [3]:
data.head()

,Name,Age,Degree,skills,experience,interested Area,Hooby,subjectskilled,Backgroud,suuggestedCarrer
0,Tania,33,SSC,"Machine Learning, Public Speaking, Excel",8,AI,Drawing,"Chemistry, Bangla, ICT, English",nontech,Graphic Designer
1,Hasan,30,MSc,"Leadership, Public Speaking, Java, C++",10,Data Science,Traveling,"Economics, Math, Physics, ICT",nontech,Graphic Designer
2,Tania,19,Diploma,"SQL, Machine Learning, Java, Python, Leadership",0,Teaching,Gaming,"Bangla, English, Physics",tech,Teacher
3,Rafi,30,BSc,"Python, Public Speaking, SQL",3,Engineering,Photography,"Chemistry, English",nontech,Accountant
4,Nusrat,25,BSc,"SQL, Public Speaking, Data Analysis",5,Teaching,Reading,"Chemistry, ICT, English, Physics",nontech,Data Scientist

In [4]:
data.shape

(1000, 10)

In [5]:
data["suuggestedCarrer"].value_counts()

suuggestedCarrer
Data Scientist         123
Nurse                  110
AI Engineer            104
Graphic Designer       102
Mechanical Engineer    102
Digital Marketer       102
Web Developer           97
Teacher                 94
Business Analyst        86
Accountant              80
Name: count, dtype: int64

In [6]:
#df = df.drop(columns=["Name"])

# Display unique suggested careers and the associated skills
career_skills = {}

# Loop through each unique career suggestion
for career in data['suuggestedCarrer'].unique():
    # Filter the data for the current career
    career_data = data[data['suuggestedCarrer'] == career]
    
    # Collect the skills associated with the current career
    skills_list = career_data['skills'].dropna().str.split(', ').explode().unique()  # Get unique skills
    
    # Store the skills in the dictionary
    career_skills[career] = skills_list

# Print the skills for each career suggestion
for career, skills in career_skills.items():
    print(f"Skills for {career}:")
    print(", ".join(skills))
    print("\n")

Skills for Graphic Designer:
Machine Learning, Public Speaking, Excel, Leadership, Java, C++, Python, SQL, Data Analysis, Communication


Skills for Teacher:
SQL, Machine Learning, Java, Python, Leadership, Communication, C++, Public Speaking, Excel, Data Analysis


Skills for Accountant:
Python, Public Speaking, SQL, Java, C++, Excel, Communication, Data Analysis, Leadership, Machine Learning


Skills for Data Scientist:
SQL, Public Speaking, Data Analysis, Communication, Excel, Leadership, C++, Java, Python, Machine Learning


Skills for Web Developer:
Public Speaking, Python, C++, Machine Learning, Data Analysis, Excel, Communication, Leadership, SQL, Java


Skills for Mechanical Engineer:
Excel, Python, Communication, SQL, Leadership, Public Speaking, C++, Java, Machine Learning, Data Analysis


Skills for Digital Marketer:
Machine Learning, Communication, C++, Leadership, SQL, Public Speaking, Java, Data Analysis, Python, Excel


Skills for Business Analyst:
C++, SQL, Data Analysis, Python, Public Speaking, Java, Leadership, Excel, Machine Learning, Communication


Skills for Nurse:
Java, Communication, Leadership, Python, Data Analysis, Public Speaking, C++, Excel, SQL, Machine Learning


Skills for AI Engineer:
Public Speaking, Data Analysis, C++, Leadership, Excel, Python, Machine Learning, Communication, Java, SQL

In [7]:
career_skills = {
    "Graphic Designer": ["Adobe Illustrator", "Photoshop", "UI/UX Design"],
    "Teacher": ["Classroom Management", "Communication", "Lesson Planning"],
    "Accountant": ["Excel", "Financial Analysis", "QuickBooks"],
    "Data Scientist": ["Python", "Machine Learning", "Data Visualization"],
    "Web Developer": ["HTML/CSS", "JavaScript", "React"],
    "Mechanical Engineer": ["AutoCAD", "SolidWorks", "Mathematical Modeling"],
    "Digital Marketer": ["SEO", "Social Media Marketing", "Content Creation"],
    "Business Analyst": ["Data Analysis", "Process Improvement", "Project Management"],
    "Nurse": ["Patient Care", "Medical Knowledge", "Communication Skills"],
    "AI Engineer": ["Machine Learning", "Deep Learning", "Python"]
}

# Function to map career to required skills
def map_required_skills(career):
    return ', '.join(career_skills.get(career, []))

# Apply the function to update the 'skills' column based on 'suuggestedCarrer'
data['skills'] = data['suuggestedCarrer'].apply(map_required_skills)

# Print the updated dataframe (optional, for inspection)
print(data[['suuggestedCarrer', 'skills']].head())

   suuggestedCarrer                                             skills
0  Graphic Designer         Adobe Illustrator, Photoshop, UI/UX Design
1  Graphic Designer         Adobe Illustrator, Photoshop, UI/UX Design
2           Teacher  Classroom Management, Communication, Lesson Pl...
3        Accountant              Excel, Financial Analysis, QuickBooks
4    Data Scientist       Python, Machine Learning, Data Visualization

In [8]:
data["skills"].value_counts()

skills
Python, Machine Learning, Data Visualization              123
Patient Care, Medical Knowledge, Communication Skills     110
Machine Learning, Deep Learning, Python                   104
Adobe Illustrator, Photoshop, UI/UX Design                102
AutoCAD, SolidWorks, Mathematical Modeling                102
SEO, Social Media Marketing, Content Creation             102
HTML/CSS, JavaScript, React                                97
Classroom Management, Communication, Lesson Planning       94
Data Analysis, Process Improvement, Project Management     86
Excel, Financial Analysis, QuickBooks                      80
Name: count, dtype: int64

In [9]:
data

,Name,Age,Degree,skills,experience,interested Area,Hooby,subjectskilled,Backgroud,suuggestedCarrer
0,Tania,33,SSC,"Adobe Illustrator, Photoshop, UI/UX Design",8,AI,Drawing,"Chemistry, Bangla, ICT, English",nontech,Graphic Designer
1,Hasan,30,MSc,"Adobe Illustrator, Photoshop, UI/UX Design",10,Data Science,Traveling,"Economics, Math, Physics, ICT",nontech,Graphic Designer
2,Tania,19,Diploma,"Classroom Management, Communication, Lesson Pl...",0,Teaching,Gaming,"Bangla, English, Physics",tech,Teacher
3,Rafi,30,BSc,"Excel, Financial Analysis, QuickBooks",3,Engineering,Photography,"Chemistry, English",nontech,Accountant
4,Nusrat,25,BSc,"Python, Machine Learning, Data Visualization",5,Teaching,Reading,"Chemistry, ICT, English, Physics",nontech,Data Scientist
...,...,...,...,...,...,...,...,...,...,...
995,Tania,21,BSc,"Python, Machine Learning, Data Visualization",7,Teaching,Gaming,"Bangla, Biology",tech,Data Scientist
996,Hasan,24,HSC,"Classroom Management, Communication, Lesson Pl...",2,Design,Writing,"Biology, Economics, ICT, English",tech,Teacher
997,Nayeem,25,MSc,"Classroom Management, Communication, Lesson Pl...",8,AI,Music,"Economics, Chemistry",tech,Teacher
998,Amina,29,BA,"Adobe Illustrator, Photoshop, UI/UX Design",0,Marketing,Gaming,"ICT, Math",tech,Graphic Designer
999,Rahim,25,HSC,"AutoCAD, SolidWorks, Mathematical Modeling",8,Healthcare,Photography,"Chemistry, Physics, English",nontech,Mechanical Engineer

In [10]:
df=data.copy()

In [11]:
#pip install optuna

In [12]:
#joblib.dump(scaler, r'F:\PROJECT_PIPELINE_MLOPS\SMART_CARRER_ADVISOR\models\scaler.pkl')

In [13]:
# Display unique suggested careers and the associated skills
career_skills = {}

# Loop through each unique career suggestion
for career in data['suuggestedCarrer'].unique():
    # Filter the data for the current career
    career_data = data[data['suuggestedCarrer'] == career]
    
    # Collect the skills associated with the current career
    skills_list = career_data['subjectskilled'].dropna().str.split(', ').explode().unique()  # Get unique skills
    
    # Store the skills in the dictionary
    career_skills[career] = skills_list

# Print the skills for each career suggestion
for career, skills in career_skills.items():
    print(f"subjectskilled for {career}:")
    print(", ".join(skills))
    print("\n")

subjectskilled for Graphic Designer:
Chemistry, Bangla, ICT, English, Economics, Math, Physics, Biology


subjectskilled for Teacher:
Bangla, English, Physics, ICT, Math, Chemistry, Biology, Economics


subjectskilled for Accountant:
Chemistry, English, Math, Bangla, ICT, Physics, Biology, Economics


subjectskilled for Data Scientist:
Chemistry, ICT, English, Physics, Economics, Math, Bangla, Biology


subjectskilled for Web Developer:
English, ICT, Math, Biology, Economics, Physics, Bangla, Chemistry


subjectskilled for Mechanical Engineer:
Economics, Math, Bangla, English, ICT, Biology, Physics, Chemistry


subjectskilled for Digital Marketer:
English, Math, Biology, Physics, ICT, Bangla, Economics, Chemistry


subjectskilled for Business Analyst:
Economics, Chemistry, Biology, English, Math, Physics, ICT, Bangla


subjectskilled for Nurse:
Economics, Biology, Math, ICT, Chemistry, English, Bangla, Physics


subjectskilled for AI Engineer:
Math, ICT, Physics, Economics, English, Biology, Bangla, Chemistry

In [14]:
subjectskilled = {
    "Graphic Designer": ["ICT", "Designing"], 
    "Teacher": ["Bangla", "English"], 
    "Accountant": ["Mathematics", "Accounting"], 
    "Data Scientist": ["Mathematics", "Data Analysis"], 
    "Web Developer": ["Web Development", "ICT"], 
    "Mechanical Engineer": ["Engineering", "Physics"], 
    "Digital Marketer": ["Marketing", "Digital Advertising"], 
    "Business Analyst": ["Business Strategy", "Economics"], 
    "Nurse": ["Healthcare", "Biology"], 
    "AI Engineer": ["Artificial Intelligence", "ICT"]
}

# Function to map career to required skills
def map_required_skill(career):
    return ', '.join(subjectskilled.get(career, []))

# Apply the function to update the 'subjectskilled' column based on 'suuggestedCarrer'
data['subjectskilled'] = data['suuggestedCarrer'].apply(map_required_skill)

# Print the updated dataframe (optional, for inspection)
print(data[['suuggestedCarrer', 'subjectskilled']].head())

   suuggestedCarrer              subjectskilled
0  Graphic Designer              ICT, Designing
1  Graphic Designer              ICT, Designing
2           Teacher             Bangla, English
3        Accountant     Mathematics, Accounting
4    Data Scientist  Mathematics, Data Analysis

In [15]:
data.head()

,Name,Age,Degree,skills,experience,interested Area,Hooby,subjectskilled,Backgroud,suuggestedCarrer
0,Tania,33,SSC,"Adobe Illustrator, Photoshop, UI/UX Design",8,AI,Drawing,"ICT, Designing",nontech,Graphic Designer
1,Hasan,30,MSc,"Adobe Illustrator, Photoshop, UI/UX Design",10,Data Science,Traveling,"ICT, Designing",nontech,Graphic Designer
2,Tania,19,Diploma,"Classroom Management, Communication, Lesson Pl...",0,Teaching,Gaming,"Bangla, English",tech,Teacher
3,Rafi,30,BSc,"Excel, Financial Analysis, QuickBooks",3,Engineering,Photography,"Mathematics, Accounting",nontech,Accountant
4,Nusrat,25,BSc,"Python, Machine Learning, Data Visualization",5,Teaching,Reading,"Mathematics, Data Analysis",nontech,Data Scientist

In [16]:
data.columns

Index(['Name', 'Age', 'Degree', 'skills', 'experience', 'interested Area',
       'Hooby', 'subjectskilled', 'Backgroud', 'suuggestedCarrer'],
      dtype='object')

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import pickle

# ✅ 1. Data preparation
df = data.copy()
df = df.drop(columns=['Name'])

X = df.drop(columns=['suuggestedCarrer'])
y = df['suuggestedCarrer']

# ✅ 2. Encode categorical features
label_encoder = LabelEncoder()
object_columns = ['Degree', 'skills', 'interested Area', 'Hooby', 'subjectskilled', 'Backgroud']

for col in object_columns:
    X[col] = label_encoder.fit_transform(X[col])

# Encode the target
y = label_encoder.fit_transform(y)

# ✅ 3. Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# ✅ 4. Train model
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

# ✅ 5. Evaluate model
print(f"Training Score: {model.score(X_train, y_train)}")
print(f"Testing Score: {model.score(X_test, y_test)}")

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

# ✅ 6. Get Top-2 predicted careers
y_prob = model.predict_proba(X_test)
top_2_preds = np.argsort(y_prob, axis=1)[:, -2:]

for i in range(2):  # Just printing for first 2 samples
    preds = top_2_preds[i]
    probs = y_prob[i, preds]
    
    sorted_order = np.argsort(probs)[::-1]
    career_1 = label_encoder.inverse_transform([preds[sorted_order[0]]])[0]
    career_2 = label_encoder.inverse_transform([preds[sorted_order[1]]])[0]
    prob_1 = probs[sorted_order[0]]
    prob_2 = probs[sorted_order[1]]

    print(f"Sample {i+1}:")
    print(f"1st Predicted Career: {career_1} with Probability: {prob_1:.2f}")
    print(f"2nd Predicted Career: {career_2} with Probability: {prob_2:.2f}")
    print("-" * 40)

# ✅ 7. Save model and label encoder
model_path = 'F:\\PROJECT_PIPELINE_MLOPS\\SMART_CARRER_ADVISOR\\models\\'

with open(model_path + 'logistic_regression_model.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)

with open(model_path + 'label_encoder.pkl', 'wb') as le_file:
    pickle.dump(label_encoder, le_file)

print("✅ Model and Label Encoder saved successfully!")

Training Score: 0.9914285714285714
Testing Score: 0.98
Accuracy: 0.98

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        35
           1       0.95      0.86      0.90        22
           2       0.96      0.96      0.96        26
           3       1.00      1.00      1.00        37
           4       1.00      1.00      1.00        32
           5       1.00      1.00      1.00        30
           6       1.00      0.97      0.98        33
           7       0.97      0.97      0.97        31
           8       1.00      1.00      1.00        23
           9       0.91      1.00      0.95        31

    accuracy                           0.98       300
   macro avg       0.98      0.98      0.98       300
weighted avg       0.98      0.98      0.98       300


Confusion Matrix:
 [[35  0  0  0  0  0  0  0  0  0]
 [ 0 19  0  0  0  0  0  0  0  3]
 [ 0  0 25  0  0  0  0  1  0  0]
 [ 0  0  0 37  0  0  0  0  0  0]
 [ 0  0  0  0 32  0  0  0  0  0]
 [ 0  0  0  0  0 30  0  0  0  0]
 [ 0  1  0  0  0  0 32  0  0  0]
 [ 0  0  1  0  0  0  0 30  0  0]
 [ 0  0  0  0  0  0  0  0 23  0]
 [ 0  0  0  0  0  0  0  0  0 31]]
Sample 1:
1st Predicted Career: Graphic Designer with Probability: 0.95
2nd Predicted Career: Accountant with Probability: 0.05
----------------------------------------
Sample 2:
1st Predicted Career: Nurse with Probability: 0.61
2nd Predicted Career: Business Analyst with Probability: 0.28
----------------------------------------
✅ Model and Label Encoder saved successfully!

C:\Users\pc\AppData\Roaming\Python\Python312\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [18]:
data.columns

Index(['Name', 'Age', 'Degree', 'skills', 'experience', 'interested Area',
       'Hooby', 'subjectskilled', 'Backgroud', 'suuggestedCarrer'],
      dtype='object')